.vscode/
__pycache__/
test.json
meet.egg-info
*.py[cod]
*/__pycache__/
interface/__pycache__/
interface/__pycache__/api.cpython-35.pyc
api/__pycache__/api.cpython-35.pyc
interface/__pycache__/api.cpython-35.pyc
terminal/__pycache__/terminal.cpython-35.pyc
